

  <form action= "/sessions/<%=@edit_session.id%>/edit" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">



    How many minutes did you meditate for today?<br>
    <input type="text" name="duration_minutes" value="<%=@edit_session.duration_minutes%>"><br>

<br>
    How did you feel after?<br>
    
    <label><input type="radio" name="mood_rating" value="1" <%='checked' if @edit_session.mood_rating == 1 %>> <img src="/images/awful.jpg" alt="awful" class="center_img"></label>
    <label><input type="radio" name="mood_rating" value="2" <%='checked' if @edit_session.mood_rating == 2%>> <img src="/images/not_great.jpg" alt="notgreat" class="center_img"></label>
    <label><input type="radio" name="mood_rating" value="3" <%='checked' if @edit_session.mood_rating == 3 %>> <img src="/images/average.jpg" alt="average" class="center_img"></label>
    <label><input type="radio" name="mood_rating" value="4" <%='checked' if @edit_session.mood_rating == 4 %>> <img src="/images/good.jpg" alt="good" class="center_img"></label>
    <label><input type="radio" name="mood_rating" value="5" <%='checked' if @edit_session.mood_rating == 5%>> <img src="/images/amazing.jpg" alt="amazing" class="center_img"></label>
<br>
        <input type="submit" name="Edit Session" id="submit">
    <br>

  </form>